<div class="container p-3">
    <div class="row">
        <div class="col text-center">
            <h3>An error occurred and the payment did not complete</h3>
        </div>
    </div>    
    <span>
        <div class="row mt-5">
            <div class="col text-center">
                <i class="fas fa-9x fa-times-circle text-danger"></i>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <p>You will be redirected in 5 seconds</p>
            </div>
        </div>
    </span>
</div>