<form #updatePasswordForm class="container p-3 needs-validation">
  <div class="row">
    <div class="col text-center">
      <h3>Update Password</h3>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col">
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input type="password" class="form-control" id="currentPassword" placeholder="New Password"
          name="currentPassword" [(ngModel)]="currentPassword" required/>
          <span class="eye-icon">
            <i class="fa fa-eye" id="currentEye" (click)="toggleCurrent()">
            </i>
          </span>
        <div class="invalid-feedback">
          Please provide a valid password
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col">
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" class="form-control" id="newPassword" placeholder="New Password" name="newPassword"
          [(ngModel)]="newPassword" required />
          <span class="eye-icon">
            <i class="fa fa-eye" id="newEye" (click)="toggleNew()">
            </i>
          </span>
        <div class="invalid-feedback">
          Please provide a valid password
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col">
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input #confirmPasswordInput type="password" class="form-control" id="confirmPassword"
          placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="confirmPassword" required />
          <span class="eye-icon">
            <i class="fa fa-eye" id="confirmEye" (click)="toggleConfirm()">
            </i>
          </span>
        <div class="invalid-feedback">
          Passwords don't match
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col p-1">
      <button class="btn btn-secondary w-100" type="button" (click)="close()">
        Cancel
      </button>
    </div>
    <div class="col p-1">
      <button class="btn btn-primary w-100" type="button" (click)="verifyAccount()">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Update
      </button>
    </div>    
  </div>
</form>
<div id="loader-update-password" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content" style="background-color: transparent; border: none;">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="spinner-border text-danger spinner-border-lg" role="status"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>